<html>
  <head>
    {% include 'main/links_header.html' %}
    <title>Horizon Login</title>
  </head>
  <body>
    <div
      class="view"
      id="signin-modal"
      tabindex="-1"
      role="dialog"
      aria-hidden="false"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-body">
            <div class="form-box">
              <div class="form-tab">
                <ul
                  class="nav nav-pills nav-fill nav-border-anim"
                  role="tablist"
                >
                  {% if err %}
                  <li class="nav-item">
                    <a
                      class="nav-link"
                      id="signin-tab"
                      data-toggle="tab"
                      role="tab"
                      aria-controls="signin"
                      aria-selected="true"
                      style="color: red"
                      >ERROR: Email Already Exist</a
                    >
                  </li>
                  {% else %}
                  <li class="nav-item">
                    <a
                      class="nav-link active"
                      id="signin-tab"
                      data-toggle="tab"
                      role="tab"
                      aria-controls="signin"
                      aria-selected="true"
                      >Sign Up</a
                    >
                  </li>
                  {% endif %}
                </ul>
                <div
                  class="tab-pane"
                  id="register"
                  role="tabpanel"
                  aria-labelledby="register-tab"
                >
                  <form action="/accounts/create/user" method="POST">
                    <div class="form-group">
                      <label for="register-email">Your email address *</label>
                      <input
                        type="email"
                        class="form-control"
                        id="register-email"
                        name="email"
                        required
                      />
                    </div>
                    <!-- End .form-group -->

                    <div class="form-group">
                      <label for="register-password">Password *</label>
                      <input
                        type="password"
                        class="form-control"
                        id="register-password"
                        name="password"
                        required
                      />
                    </div>
                    <!-- End .form-group -->

                    <div class="form-footer">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-outline-primary-2">
                        <span>SIGN UP</span>
                        <i class="icon-long-arrow-right"></i>
                      </button>

                      <div class="custom-control custom-checkbox">
                        <input
                          type="checkbox"
                          class="custom-control-input"
                          id="register-policy"
                          required
                        />
                        <label
                          class="custom-control-label"
                          for="register-policy"
                          >I agree to the
                          <a href="#">privacy policy</a> *</label
                        >
                      </div>
                      <!-- End .custom-checkbox -->
                    </div>
                    <!-- End .form-footer -->
                  </form>
                  <div class="form-choice">
                    <p class="text-center">or sign in with</p>
                    <div class="row">
                      <div class="col-sm-6">
                        <a href="#" class="btn btn-login btn-g">
                          <i class="icon-google"></i>
                          Login With Google
                        </a>
                      </div>
                      <!-- End .col-6 -->
                      <div class="col-sm-6">
                        <a href="/accounts/login" class="btn btn-login btn-f"
                          >You Can Login Here
                        </a>
                      </div>
                      <!-- End .col-6 -->
                    </div>
                    <!-- End .row -->
                  </div>
                  <!-- End .form-choice -->
                </div>
                <!-- .End .tab-pane -->
              </div>
              <!-- End .form-tab -->
            </div>
            <!-- End .form-box -->
          </div>
          <!-- End .modal-body -->
        </div>
        <!-- End .modal-content -->
      </div>
      <!-- End .modal-dialog -->
    </div>
    <!-- End .modal -->
  </body>
</html>
