{% extends 'main/base_one.html' %}
{% block title %} Horizon Online Shopping | Cart {% endblock %} {% load static %}
{% block content %}
    <div class="page-wrapper">
      <main class="main">
        <nav aria-label="breadcrumb" class="breadcrumb-nav border-0 mb-0">
          <div class="container">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="/">Home</a></li>
              <li class="breadcrumb-item"><a href="#">Shop</a></li>
              <li class="breadcrumb-item active" aria-current="page">
                Shopping Cart
              </li>
            </ol>
          </div>
          <!-- End .container -->
        </nav>
        <!-- End .breadcrumb-nav -->
        <div class="container">
          <div
            class="page-header page-header-big text-center"
            style="
              background-image: url('{% static 'main/images/about-header-bg.jpg' %}');
            "
          >
            <h1 class="page-title text-white">
              Shopping Cart<span class="text-white"></span>
            </h1>
          </div>
          <!-- End .page-header -->
        </div>
        <!-- End .container -->
        

        <div class="page-content">
          <div class="cart">
            {% if cart_items %}
            <div class="container">
              <div class="row">
                <div class="col-lg-9">
                  <table class="table table-cart table-mobile">
                    <thead>
                      <tr>
                        <th>Product</th>
                        <th>Price</th>
                        <th>Quantity</th>
                        <!-- <th>Total</th> -->
                        <th></th>
                      </tr>
                    </thead>

                    <tbody>
                      {% for item in cart_items %}
                      <tr>
                        <td class="product-col">
                          <div class="product">
                            <figure class="product-media">
                              <a href="#">
                                <img
                                  src="{{item.product.image}}"
                                  alt="Product image"
                                />
                              </a>
                            </figure>

                            <h3 class="product-title">
                              <a href="#">{{item.product.name}}</a>
                            </h3>
                            <!-- End .product-title -->
                          </div>
                          <!-- End .product -->
                        </td>
                        <td class="price-col">&#8358;{{item.product.price}}</td>
                        <td class="quantity-col">
                          <form action="" method="post">
                          <div class="cart-product-quantity">
                            <input type="hidden" name="goods" value="{{item.product.name}}">
                            <input
                              type="number"
                              class="form-control"
                              value="{{item.quantity}}"
                              name="amount"
                              min="1"
                              max="5"
                              step="1"
                              data-decimals="0"
                              required
                            />
                            
                          </div>
                          {% csrf_token%}
                          <button class="btn btn-outline-dark">
                            UPDATE</button>
                          </form>
                          <!-- End .cart-product-quantity -->
                        </td>
                      
                        <!-- <td class="total-col" style="padding-left: 10px;">#{{item.product.price}} -->
                        </td>
                        <td class="remove-col">
                          <a href="/products/cart/{{item.product.pk}}/remove?state=cart">
                            <button class="btn-remove">
                              <i class="icon-close"></i>
                            </button>
                          </a>
                        </td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                  <!-- End .table table-wishlist -->

                  <div class="cart-bottom">
                    <div class="cart-discount">
                      <form action="#">
                        <div class="input-group">
                          <input
                            type="text"
                            class="form-control"
                            required
                            placeholder="coupon code"
                          />
                          <div class="input-group-append">
                            <button
                              class="btn btn-outline-primary-2"
                              type="submit"
                            >
                              <i class="icon-long-arrow-right"></i>
                            </button>
                          </div>
                          <!-- .End .input-group-append -->
                        </div>
                        <!-- End .input-group -->
                      </form>
                    </div>
                    <!-- End .cart-discount -->
                    <a 
                      href="/products/cart/clear" 
                      class="btn btn-outline-dark-2" 
                      title="Click Here To Clear Cart"
                      ><span>CLEAR CART</span><i class="icon-refresh"></i
                    ></a>
                  </div>
                  <!-- End .cart-bottom -->
                </div>
                <!-- End .col-lg-9 -->
                <aside class="col-lg-3">
                  <div class="summary summary-cart">
                    <h3 class="summary-title">Cart Total</h3>
                    <!-- End .summary-title -->

                    <table class="table table-summary">
                      <tbody>
                        <tr class="summary-subtotal">
                          <td>Subtotal:</td>
                          <td>${{cart_item_price}}</td>
                        </tr>
                        <!-- End .summary-subtotal -->
                        <tr class="summary-shipping">
                          <td>Shipping:</td>
                          <td>&nbsp;</td>
                        </tr>

                        <tr class="summary-shipping-row">
                          <td>
                            <div class="custom-control custom-radio">
                              <input
                                type="radio"
                                id="free-shipping"
                                name="shipping"
                                class="custom-control-input"
                              />
                              <label
                                class="custom-control-label"
                                for="free-shipping"
                                >Free Shipping</label
                              >
                            </div>
                            <!-- End .custom-control -->
                          </td>
                          <td>$0.00</td>
                        </tr>
                        <!-- End .summary-shipping-row -->

                        <tr class="summary-shipping-row">
                          <td>
                            <div class="custom-control custom-radio">
                              <input
                                type="radio"
                                id="standart-shipping"
                                name="shipping"
                                class="custom-control-input"
                              />
                              <label
                                class="custom-control-label"
                                for="standart-shipping"
                                >Standard:</label
                              >
                            </div>
                            <!-- End .custom-control -->
                          </td>
                          <td>$10.00</td>
                        </tr>
                        <!-- End .summary-shipping-row -->

                        <tr class="summary-shipping-row">
                          <td>
                            <div class="custom-control custom-radio">
                              <input
                                type="radio"
                                id="express-shipping"
                                name="shipping"
                                class="custom-control-input"
                              />
                              <label
                                class="custom-control-label"
                                for="express-shipping"
                                >Express:</label
                              >
                            </div>
                            <!-- End .custom-control -->
                          </td>
                          <td>$20.00</td>
                        </tr>
                        <!-- End .summary-shipping-row -->

                        <tr class="summary-shipping-estimate">
                          <td>
                            Estimate for Your Country<br />
                            <a href="dashboard.html">Change address</a>
                          </td>
                          <td>&nbsp;</td>
                        </tr>
                        <!-- End .summary-shipping-estimate -->

                        <tr class="summary-total">
                          <td>Total:</td>
                          <td>&#8358;{{cart_item_price}}</td>
                        </tr>
                        <!-- End .summary-total -->
                      </tbody>
                    </table>
                    <!-- End .table table-summary -->

                    <a
                      href="/products/checkout"
                      class="btn btn-outline-primary-2 btn-order btn-block"
                      >PROCEED TO CHECKOUT</a
                    >
                  </div>
                  <!-- End .summary -->

                  <a
                    href="/"
                    class="btn btn-outline-dark-2 btn-block mb-3"
                    ><span>CONTINUE SHOPPING</span><i class="icon-refresh"></i
                  ></a>
                </aside>
                <!-- End .col-lg-3 -->
              </div>
              <!-- End .row -->
            </div>
            <!-- End .container -->
            {% else %}
                <p>
                  sorry you don't have any item in your cart. <a href="/">continue Shopping
                  </a>      
               </p>
            {% endif %}
          </div>
          <!-- End .cart -->
        </div>
        <!-- End .page-content -->
      </main>
      <!-- End .main -->

      {% endblock %}